
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  margin: 0;
  /* width: 480px; */
  width: 45em;
  height: 47em;
  background-color: #282c34;
  color: #abb2bf;
  font-family: Arial, sans-serif;
  border: 0.5px solid #abb2bf;

}

p {
  font-size: 1.4em;
  text-align: center;
  margin: 0;
  margin-top: 2.2em;
  margin-bottom: 0.7em;
}

/* span { */
  /* color: #f4eeb6; */
  /* color: #79bff8; */
/* } */

h1 {
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.description {
  font-size: 1.15em;
  text-align: center;
  width: 8em;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 11px;
  margin: 24px;
  margin-top: 4px;
  margin-bottom: 4px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 470px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}
.adjustment-button-container {
  display: flex; 
  flex-direction: column;
  margin-left: 0.15em;
}

.switch-container {
  margin: 10px 0;
  margin-bottom: 1em;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 32px;
}

.number-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5em;
  margin: auto;
  margin-bottom: 0.4em;
}


.button-group {
  display: row;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0.05em 0;
}



.option-button {
  margin: 0 20px;
}


.option-button {
  background-color: #414141;
  color: #abb2bf;
  width: 7.6em;
  border: none;
  border-radius: 4px;
  padding: 0.6em;
  padding-top: 12px;
  padding-bottom: 11px;
  margin: 2.15em;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}


.option-button.selected {
  background-color: #4d9ad8;
  color: #fff;
}



.quantity-box {
  width: 2.2em; 
  height: 1.5em;
  font-size: 18px; 
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: 1px solid #2196F3; 
  border-radius: 4px;
}

.quantity-box::-webkit-outer-spin-button, .quantity-box::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.duration-button-group {
  display: row;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0.05em 0;
  margin-top: 1.5em;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 32px;
}

.small-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}




.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.small-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.small-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  border-radius: 4px;

  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

input:checked + .small-slider {
  background-color: #2196F3;
}

input:focus + .small-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .small-slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px); 
}

/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 4px;
}

.small-slider.round {
  border-radius: 4px;
}
.small-slider.round:before {
  border-radius: 4px;
}



.slider-input {
  text-align: center;
  margin-bottom: 10px;
}

.value-display {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}





.new-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-bottom: 3em;
  padding: 10px;
  width: 90%;
}




.label {
  margin-bottom: 0.5em !important;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: center;

}
.svg-button {
  width: 1.3em;
  height: 0.9em;
  margin-bottom: 0.05em;
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 4px;
}

.svg-button:last-child {
  margin-bottom: 0;
}

.svg-button svg {
  display: block; /* prevent inline SVG alignment issues */
  margin: auto;
}










.info-icon {
  top: -6px;
  display: inline-block;
  margin-left: 5px;
  color: #666;
  font-size: 10px;
  /* cursor: help; */
  position: relative;
  /* put a circle border around it */
  border: 1px solid #666;
  border-radius: 50%;
}

.info-icon-up {
  top: -6px;
  display: inline-block;
  margin-left: 5px;
  color: #666;
  font-size: 10px;
  /* cursor: help; */
  position: relative;
  /* put a circle border around it */
  border: 1px solid #666;
  border-radius: 50%;
}

.tooltip {
  visibility: hidden;
  width: 12em;
  background-color: rgb(33, 33, 33);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 1em;
  line-height: 1.4;
  border: 1px solid #276ea7;
  /* left: 110%; */
  /* right: 10%; */
}

.tooltip-up {
  top: -8em;
}

.tooltip-up-more {
  top: -11.5em;
}

.tooltip-up-even-more {
  top: -13em;
}

.tooltip-up-less {
  top: -5em;
}

.tooltip-left {
  left: -13.5em;
}

.tooltip-left-less {
  left: -8em;
}

.info-icon:hover .tooltip {
  visibility: visible;
}

.info-icon-up:hover .tooltip-up {
  visibility: visible;
}

.info-icon-up:hover .tooltip-up-more {
  visibility: visible;
}
.info-icon-up:hover .tooltip-up-even-more {
  visibility: visible;
}

.info-icon-up:hover .tooltip-up-less {
  visibility: visible;
}



.feedback-container:hover .tooltip {
  visibility: visible;
}

.feedback-container:hover .tooltip-up {
  visibility: visible;
}

.feedback-container:hover .tooltip-up-more {
  visibility: visible;
}
.feedback-container:hover .tooltip-up-even-more {
  visibility: visible;
}

.feedback-container:hover .tooltip-up-less {
  visibility: visible;
}






.multi-toggle-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}




#feedback-container {
  top: -6px;
  right: -18em;
  position: relative;
  text-align: right;
  color: #FFF;

}

#feedback-link {
  margin-top: 0em;
  margin-bottom: 0.2em;
  text-align: right;
  top: 2em;
  color: #d4dde7;
  font-size: 1.1em;

}

.feedback-link {
  display: inline-block;
  color: #d4dde7;
  font-size: 10px;
  /* cursor: help; */
  position: relative;
  /* put a circle border around it */
  /* border: 1px solid #666; */
  /* border-radius: 50%; */
}




#version-number {
  font-size: 10px;
  margin-left: 0.5em;
  color: #abb2bf;
  position: relative;
  left: 35em;
  top: -2em;
}




/* installation notification about settings */

.welcome-tooltip-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 470px;
  display: inline-block;
  z-index: 1000;
}

.welcome-tooltip-container .notification-tooltip {
  z-index: 1;
  padding: 0 20px;
  /* background: #5e9fea; */
  background: #4d9af3;
  color: #222222;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 3px 3px 3px #535353;
  animation: welcome-tooltip-pulse 1s ease-in-out infinite alternate;
}

.welcome-tooltip-container .notification-tooltip p {
  margin: 16px 0;
  line-height: 1.5;
}

.welcome-tooltip-container .notification-tooltip img {
  margin: 0 5px;
}

.welcome-tooltip-container .notification-tooltip * {
  vertical-align: middle;
}

.welcome-tooltip-container .notification-tooltip .heading {
  font-weight: 700;
  line-height: 1.4em;
}


@keyframes welcome-tooltip-pulse {
  0% {
      transform: translateY(9px);
  }

  100% {
      transform: translateY(4px);
  }
}

.pointer {
  height: 1.9em !important;
  font-size: 1.5em !important;
  padding-left: 52%;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 3px !important;
  margin-bottom: 0px !important;
  color: #ffffff;
  /* transform: translateY(-20px); */
}

.dismiss-tooltip {
  position: absolute;
  height: 2.3em !important;
  color: #373737;
  /* text-align: center;
  vertical-align: middle; */
  top: 5px;
  left: 8px;
  line-height: 1.6em;
  padding: 0 5px;
  margin: 0;
  cursor: pointer;
  font-weight: 100;
  /* border: #373737 solid 1px; */
}

/* .header {
  padding-bottom: 1em;
} */

.recommended {
  color: #4d9ad8;
}